// BOTON BASE
@mixin botones {
  border-radius: 30px;
  border: none;
  background: transparent;
  padding: 1.2rem 2rem;
  font-size: 1rem;
  font-family: sans-serif;

  @media (min-width: 768px) {
    font-size: 1.2rem;
  }
  @media (min-width: 1200px) {
    font-size: 1.4rem;
  }
}