/******************************/
/********** BOTONES ***********/
/******************************/

// NORMAL
.btn {
  @include botones;
  @apply text-white bg-primary inline-block;
  border: 1px solid transparent;
  &:hover {
    @apply text-primary bg-secondary border-primary;
    &:before {
      width: 100%;
    }
  }
}

// FILTER
.btn_fliter {
  @include botones;
  @apply text-primary bg-secondary inline-block;
  border: 1px solid transparent;
  &:hover {
    @apply text-primary bg-secondary-light border-primary;
    &:before {
      width: 100%;
    }
  }
}

// LINEA
.btn-line {
  @include botones;
  @apply text-white bg-transparent inline-block;
  border: 1px solid white;
  &:hover {
    @apply text-primary bg-secondary border-primary;
    &:before {
      width: 100%;
    }
  }
}

// DARK 
.btn_dark {
  @include botones;
  color: #FBF8EF ;
  background-color: #948B82;
  display: inline-block;
}

// DARK LINE
.btn_dark_line {
  @include botones;
  border: 1px solid #645E58;
  color: #645E58;
  display: inline-block;
  &:hover {
    background-color: lightgray;
    color: white;
    border: 1px solid white;
    &:before {
      width: 100%;
    }
  }
}

// LINK
.link {
  display: flex;
  align-items: center;
  @apply text-white;
}

// ICONO
.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0 1.5rem 0 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--fenrir {
	background: none;
	padding: 0;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	width: 4.8rem;
	height: 4.8rem;
  @screen ipad {
    width: 7rem;
	  height: 7rem;
  }  
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1rem;
  }
}

.progress {
	position: absolute;
	width: 4rem;
	height: 4rem;
	top: calc(50% - 2rem);
	left: calc(50% - 2rem);
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  @screen ipad {
    width: 6rem;
    height: 6rem;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
  }
}

.button--fenrir:hover .progress {
	transform: scale3d(1.2, 1.2, 1);
}

.progress__circle,
.progress__path {
	fill: none;
	stroke: #f0f0f0;
	stroke-width: 1px;
}

.button--fenrir:focus-visible .progress__circle {
	fill: rgba(252,196,63,0.4);
}

.progress__path {
	stroke: #645E58 !important;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.button--fenrir:hover .progress__path {
  stroke-dashoffset: 0;
}