/******************************/
/******** COMPONENTES *********/
/******************************/

@import "botones";

@import "loading";

@import "scroll";

@import "formularios";

@import "animated_letters";

@import "swiper";

@import "lightgallery.scss";

// @import "image-compare-viewer";

.image_parallax {
    overflow: hidden;
    img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        top: -20%;
        left: -5%;
        width: 120%;
        height: 120%;
    }
}