/******************************/
/******** FORMULARIOS *********/
/******************************/

.wpcf7-form {
  @apply relative;
  br {
    display: none;
  }
}

// INPUT / CONTENEDOR
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 25px 0 10px;
  width: 100%;
  vertical-align: top;
  @media (min-width: 992px) {
    margin: 25px 0 10px;
  }
  @media (min-width: 1200px) {
    margin: 25px 0 10px;
  }
  // BORDE INFERIOR
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 99%;
    height: 1px;
    background: #7A736C;
  }
}


// INPUT / INPUT
.input__field {
  position: relative;
  z-index: 1000;
  display: block;
  float: right;
  padding: 0.5rem 0 0.8rem 0;
  width: 100%;
  height: 3.5rem;
  border: none;
  border-radius: 0;
  background: transparent;
  color: green_Claro;
  font-size: 1.4rem;
  line-height: 1.5rem;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  @media (min-width: 768px) {
    font-size: 1.6rem;
  }
}

.input__field:focus {
  outline: none;
}

// INPUT / LABEL
.input__label {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 500;
  width: 100%;
  height: 100%;
  text-align: left;
  cursor: text;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// INPUT / LABEL / CONTENT
.input__label-content {
  @apply text-primary font-secondary;
  position: relative;
  display: block;
  padding: 0.5rem 0 0.8rem 0;
  width: 100%;
  color: #7A736C;
  font-weight: 400;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

// INPUT / SELECT
.input_select {
  select {
    border: 0;
    opacity: 0;

    option {
      background: white;
    }
  }
}

.input_select.input--filled label {
  opacity: 1;
}

// HOVER
.input--filled:before {
  background: green;
}

.input__field--madoka:focus,
.input--filled {
  &:before {
    background: green;
  }
}

.input__field--madoka:focus select,
.input--filled select {
  opacity: 1;
}

.input__field--madoka:focus + .input__label--madoka,
.input--filled .input__label--madoka {
  cursor: default;
  pointer-events: none;
}

// HOVER / LABEL
.input__field--madoka:focus
  + .input__label--madoka
  .input__label-content--madoka,
.input--filled .input__label-content--madoka {
  -webkit-transform: translate3d(0, -80%, 0);
  transform: translate3d(0, -80%, 0);
}

// TEXTAREA
textarea {
  height: 10rem;
  overflow: hidden;
  border: 1px solid #acacac;
}

// CHECKBOX
.wpcf7-acceptance {
  font-size: 1.2rem;
  line-height: 1em;
  display: flex;
  align-items: center;
  @apply text-primary;

  label {
    display: flex;
  align-items: center;
  }

  input {
    @apply mr-2;
  }

  .wpcf7-list-item {
    margin: 0;
  }
  a {
    @apply text-primary underline;
  }
}

.wpcf7-checkbox span {
  margin: 0;
}

// ENVIAR
input[type="submit"],
button.wpcf7-submit {
  @include botones;
  @apply text-white bg-primary inline-block;
  border: 1px solid transparent;
  &:hover {
    @apply text-primary bg-secondary border-primary;
    &:before {
      width: 100%;
    }
  }
}

// THANK YOU
.form_submit,
.form_thanks {
  width: 100% !important;
}
.form_thanks {
  display: none;
}

/******** CONTACT FORM 7 *********/
.wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 20px;
}

// MENSAJES
div.wpcf7-response-output {
  margin: 10px 0 0;
  border: 2px solid red !important;
  color: red !important;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  margin: 0 !important;
  line-height: 1.2em;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: 2px solid red !important;
  color: red !important;
}

div.wpcf7-mail-sent-ok,
.wpcf7 form.sent .wpcf7-response-output {
  border: 2px solid #94f2b5 !important;
  color: #94f2b5 !important;
}

.wpcf7-submit {
  position: relative;
  .ajax-loader {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
  }
}