
.swiper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    width: fit-content;
    img {
        height: 50vh;
        width: auto;
    }
}

.swiper-gallery .swiper-wrapper {
    .swiper-slide:first-child {
        width: var(--padding_mobile);
        @screen ipad {
            width: var(--padding_ipad);
        }
        @screen ipadH {
            width: var(--padding_ipadH);
        }
        @screen laptop {
            width: var(--padding_laptop);
        }
        @screen desktop {
            width: var(--padding_desktop);
        }
        @screen wide {
            width: var(--padding_wide);
        }
    }
}


.swiper-carousel .swiper-wrapper {
    .swiper-slide:first-child {
        opacity: 0;
        transition: all 0.3s;
        width: 50%;
        padding-left: var(--padding_mobile);
        @screen ipad {
            padding-left: var(--padding_ipad);
        }
        @screen ipadH {
            padding-left: var(--padding_ipadH);
        }
        @screen laptop {
            padding-left: var(--padding_laptop);
        }
        @screen desktop {
            padding-left: var(--padding_desktop);
        }
        @screen wide {
            padding-left: var(--padding_wide);
        }
        &.swiper-slide-active {
            opacity: 1;
        }
    }
    
}