/******************************/
/*********** SWIPER ***********/
/******************************/

.swiper {
    max-width: 100%;
    overflow : hidden;
    position : relative;
    &-pagination {
        bottom: 9rem !important;
        .swiper-pagination-bullet {
            background-color: white !important;
            width           : 1.2rem;
            height          : 1.2rem;
        }
    }

    .swiper-buttons {
        @media (max-width: 767px) {
            display: flex;
            padding-left: var(--padding_mobile);
            padding-top: var(--padding_mobile);;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        @media (max-width: 767px) {
            position: relative;
            left: initial;
            right: initial;
            top: initial;
            margin: 0;
            margin-right: 1rem;
        }
        width : 3.8rem !important;
        height: 3.8rem !important;
        @screen ipad {
            width : 9rem !important;
            height: 9rem !important;
        }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        width  : 100%;
        height : 100%;
        content: '';
        display: block;
    }

    .swiper-button-prev:after {
        background-image: url(../../images/arrow_left_mobile.png);
        @screen ipad {
            background-image: url(../../images/arrow_left.png);
        }
    }

    .swiper-button-next:after {
        background-image: url(../../images/arrow_right_mobile.png);
        @screen ipad {
            background-image: url(../../images/arrow_right.png);
        }
    }

    // BANNER
    &-banner {
        width : 100%;
        height: 100vh;
        img {
            width          : 100%;
            height         : 100vh;
            object-fit     : cover;
            object-position: center;
        }
    }

    // CARRUSEL
    &-carousel,
    &-normal {
        .swiper-slide {
            width: fit-content;
            .carousel_bg {
                height: 50vh;
                width : auto;
                max-width: initial;
            }
        }
    }

}



.swiper-gallery .swiper-wrapper {
    .swiper-slide:first-child {
        width: var(--padding_mobile);

        @screen ipad {
            width: var(--padding_ipad);
        }

        @screen ipadH {
            width: var(--padding_ipadH);
        }

        @screen laptop {
            width: var(--padding_laptop);
        }

        @screen desktop {
            width: var(--padding_desktop);
        }

        @screen wide {
            width: var(--padding_wide);
        }
    }
}


.swiper-carousel .swiper-wrapper {

    .swiper-slide:nth-child(2) {
        padding-left: var(--padding_mobile);
        @screen ipad {
            padding-left: 0;
        }
    } 

    .swiper-slide:first-child {
        opacity     : 0;
        transition  : all 0.3s;
        width       : 50%;
        padding-left: var(--padding_mobile);
        align-self: center;
        display: none;

        @screen ipad {
            padding-left: var(--padding_ipad);
            display: block;
        }

        @screen ipadH {
            padding-left: var(--padding_ipadH);
        }

        @screen laptop {
            padding-left: var(--padding_laptop);
        }

        @screen desktop {
            padding-left: var(--padding_desktop);
        }

        @screen wide {
            padding-left: var(--padding_wide);
        }

        &.swiper-slide-active {
            opacity: 1;
        }
    }

}

.swiper-normal {
    .swiper-slide:first-child {
        padding-left: var(--padding_mobile);

        @screen ipad {
            padding-left: var(--padding_ipad);
        }

        @screen ipadH {
            padding-left: var(--padding_ipadH);
        }

        @screen laptop {
            padding-left: var(--padding_laptop);
        }

        @screen desktop {
            padding-left: var(--padding_desktop);
        }

        @screen wide {
            padding-left: var(--padding_wide);
        }

        &.swiper-slide-active {
            opacity: 1;
        }
    }
}