/******************************/
/*********** FOOTER ***********/
/******************************/

// GENERAL
footer {
  position: relative;
  height: 100%;
  width: 100%;

  @extend %paddings_laterales;
  @extend %paddings_sections;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

    img {
      position: relative;

      height: 100%;
      width: 100%;
    }
  }

  .grid_footer {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-template-areas:
      "logo"
      "contact"
      "legal"
      "social"
      "copy";

    @screen ipad {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      justify-items: flex-start;
      align-items: flex-start;
      text-align: left;
      grid-template-areas:
        "logo contact contact legal legal"
        "copy copy copy copy social";
    }

    @screen ipadH {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        " logo . contact legal"
        "copy copy . social ";
    }
  }

  // MENU COLUMNS
  ul.menu {
    li.title {
    }

    li a {
    }
  }

  .grid_logo {
    grid-area: logo;

    img {
        max-width: 45px;
    }
  }

  .grid_contact {
    grid-area: contact;

    .address p {
      @apply font-primary font-light text-primary text-h4;
    }
  }

  .grid_legal {
    grid-area: legal;
  }


  // MENU COPYRIGHT
  .grid_copyright {
    grid-area: copy;
    justify-self: center;
    align-self: center;

    @screen ipad {
      justify-self: flex-start;
      align-self: flex-end;
    }
  }

  .grid_social {
    grid-area: social;
    justify-self: center;
    align-self: center;

    @screen ipad {
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
}
