.module_blog {
    @extend %paddings_laterales;
    padding-top: 170px;
}


.module_blog_grid {
    @extend %paddings_laterales;

    .alm-reveal {
        padding-top: 100px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: row;
    }
}

.module_blog_single {
    @extend %paddings_laterales;
    @extend %paddings_sections;

    .content {
        @apply font-light text-primary;
    }
}