.module-gallery-carousel {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.button_lg {
    position: relative;
    display: flex;
}

.image_baget {
    position: absolute;
    top: 2rem;
    left: 2rem;
}