section.module_two_columns {

  .wrapper_image {
    width: 40%;
    margin-right: 14%;
    position: relative;

    .decoration {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate( 50%, -30% );
    }
     
  }

  .wrapper_content {

    padding-right: var(--padding_mobile);
    @screen ipad {
      padding-right: var(--padding_ipad);
    }
    @screen ipadH {
      padding-right: var(--padding_ipadH);
    }
    @screen laptop {
      padding-right: var(--padding_laptop);
    }
    @screen desktop {
      padding-right: var(--padding_desktop);
    }
    @screen wide {
      padding-right: var(--padding_wide);
    }

    .surtitle {
        display: flex;
        align-items: center;

      &::before {
        content: "";
        width: 50px;
        height: 1px;
        background: #7A736C;
        width: 50px;
      }

      p {
        margin-left: 25px;
        // opacity: 0;
      }
    }
  }

}

.module_two_columns.module-block {
  .wrapper_image {
    width: 40%;
    margin-right: 20%;
  }

  .wrapper_content {
    padding: 0
  }
}

section.module_two_columns.active {
    .surtitle {
        &:before {
            width: 50px;
        }
        p {
            opacity: 1;
        }
    }
}


.decoration {
}

.decoration img {
  animation: scrolldown 6s linear backwards  infinite;
}

@keyframes scrolldown {
  0% { transform:  rotate(0);  }
  100% { transform:  rotate(360deg); }
}