.module-full-top.module_two_columns {
  .wrapper_content {
    margin-top: 0;

    @screen ipad {
      margin-top: 7rem;
    }
    @screen ipadH {
      margin-top: 0;
    }

    .decoration {
      margin-bottom: 5rem;
      @screen ipad {
        margin-bottom: 0;
      }
      img {
        width: 75px;

        @screen ipad {
          width: 120px;
        }
      }
    }
  }
}

section.module_two_columns,
section.module_form {
  overflow: hidden;

  .wrapper_image {
    width: 100%;
    position: relative;


    @screen ipadH {
      width: 40%;
      margin-right: 14%;
    }

    img {
      margin: 0 auto;
    }

    .pie_media {
        margin: 0 auto;
    }

    .decoration {
      position: absolute;
      top: 0;
      right: 10%;
      transform: translate( 50%, -50% );

      @screen ipadH {
        top: 0;
        right: 0;
        transform: translate( 50%, -30% );
      }

      img {
        width: 70%;
      }
    }
  }

  .wrapper_content {
    width: 100%;
    padding-right: var(--padding_mobile);
    @screen ipad {
      padding-right: var(--padding_ipad);
    }
    @screen ipadH {
      padding-right: var(--padding_ipadH);
      width: 66%;
    }
    @screen laptop {
      padding-right: var(--padding_laptop);
    }
    @screen desktop {
      padding-right: var(--padding_desktop);
    }
    @screen wide {
      padding-right: var(--padding_wide);
    }

    .surtitle {
        display: flex;
        align-items: center;

      &::before {
        content: "";
        width: 50px;
        height: 1px;
        background: #7A736C;
        width: 50px;
      }

      p {
        margin-left: 25px;
        // opacity: 0;
      }
    }


  }

}

.module_two_columns.module-block {
  .wrapper_image {
    width: 100%;
    position: relative;

    @screen ipadH {
      width: 40%;
      margin-right: 20%;
    }
  }

  .wrapper_content {
    padding: 0
  }
}

section.module_two_columns.active {
    .surtitle {
        &:before {
            width: 50px;
        }
        p {
            opacity: 1;
        }
    }
}


.decoration {
  position: relative;
  z-index: 50;
}

.decoration img {
  animation: decoration_img 6s linear backwards  infinite;
}

@keyframes decoration_img {
  0% { transform:  rotate(0);  }
  100% { transform:  rotate(360deg); }
}