:root {

    //Paddings Laterales
    --padding_mobile: 2rem;
    --padding_ipad: 5rem;
    --padding_ipadH: 4rem;
    --padding_laptop: 9rem;
    --padding_desktop: 12rem;
    --padding_wide: 21rem;

    //Paddings Sup/Inf
    --paddingS_mobile: 7rem;
    --paddingS_ipad: 13rem;
    --paddingS_ipadH: 7rem;
    --paddingS_laptop: 17rem;
    --paddingS_desktop: 17rem;
    --paddingS_wide: 17rem;
}